* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
}

header {
    width: 100%;
    background-color: hsla(228, 100%, 50%, 0.5);
    padding: 1em;
    position: sticky;
    top: 0;
    color: #d3531a;
}

nav input {
    display: none;
}

#nav_icon {
    position: absolute;
    top: 0.75em;
    right: 2em;
}

.lines {
    width: 25px;
    height: 2px;
    margin-top: 4px;
    display: block;
    background-color: #d3531a;
}

#nav_menu:checked ~ #nav_icon .lines:nth-child(1) {
    transform: rotate(135deg) translate(10px, -5px);
}

#nav_menu:checked ~ #nav_icon .lines:nth-child(2) {
    opacity: 0;
}

#nav_menu:checked ~ #nav_icon .lines:nth-child(3) {
    transform: rotate(-135deg) translate(3px, -1px)
}

#nav_menu:checked ~ ul {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    display: none;
}

.links {
    margin: 4px 0;
}

.links a {
    text-decoration: none;
    color: inherit;
}
